.tchatPrompt {
  display: flex;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  padding: 15px 20px;
  background: linear-gradient(322deg,rgba(2, 20, 79, 0.462) 33%, rgba(252, 70, 106, 0.183) 100%);
}

.tchatPrompt input {
  width: 90%;
  border-radius: 20px;
  padding: 0 15px;
  font-family: var(--confortaa);
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: white;
  outline: none;
}

.tchatPrompt input::placeholder {
  color: rgb(155, 153, 153);
}

.tchatPrompt button {
  flex-grow: 1;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid rgba(211, 211, 211, 0.329);
  cursor: pointer;
  transition: 0.1s;
}
.tchatPrompt button:hover {
  background-color: rgba(211, 211, 211, 0.077); 
}

.tchatPrompt button i {
  font-size: 0.875rem;
  color: rgba(211, 211, 211, 0.74);
}