.form {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
    padding: 30px;
    gap: 20px;
    border-radius: 30px;
    border: 1px solid rgba(211, 211, 211, 0.806);
    color: white;
    box-shadow: rgba(234, 234, 234, 0.35) 0px 5px 15px;
    backdrop-filter: blur(36px);
    animation: form 0.8s;
}
@keyframes form {
    0% {
        transform: translateY(-15px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1; 
    }
}

.form .title {
    margin-bottom: 20px;
    font-size: 1.25rem;
    text-align: center;
}
.form .inputs {
    gap: 25px;
}

.inputs .inputBox {
    gap: 10px;
    width: 100%;
}

.inputBox label {
    font-size: 0.75rem;
    padding-left: 3px;
    color: white;
}
.inputBox .inputField {
    display: flex;
    align-items: center;
    min-height: 45px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 245, 0.543);
}

.inputField input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: whitesmoke;
}
.inputField input:focus {
    outline: none;
    background-color: transparent;
}
.inputField input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgba(111, 110, 110, 0.504) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #2a2a2a;
}
.inputField input::placeholder {
    font-size: 0.75rem;
    color: rgba(245, 245, 245, 0.405);
}
.inputField .icon {
    color: whitesmoke;
}
.inputField .icon:hover{
    cursor: pointer;
}

.form .btn {
    font-weight: 500;
    background-color: var(--whiteSmoke);
    color: var(--darkBlue);
    border: none;
}
.form .btn:hover {
    background-color: var(--whiteSmokeHover);
}
.form .confirmation {
    text-align: center;
    font-size: 0.75rem;
    color: rgb(212, 209, 209);
    animation: confirmation 0.5s;
}
.form .link {
    font-size: 0.75rem;
    text-align: center;
    color: var(--whiteSmoke);
}

.form .link:hover {
    color: rgba(245, 245, 245, 0.811);
}

.form .error {
    font-size: 0.75rem;
    color: rgb(255, 170, 170);
    padding-left: 3px;
}

.form .messAnim {
    animation: message 0.5s;
}
@keyframes message {
    0% {
        transform: translateY(-15px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}