.list {
    align-items: center;
    width: 80%;
    max-height: 60%;
    padding: 20px 10px 10px 10px;
    overflow-y: auto;
    animation: 0.8s
}
@keyframes list {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.list::-webkit-scrollbar {
  width: 2px;               
}
.list::-webkit-scrollbar-corner  {
  border-radius: 10px;               
}
.list::-webkit-scrollbar-track {
    border-radius: 20px; 
    margin-top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.783);
}

.list::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: lightgray;
}

.list .categorie {
    width: 100%;
    list-style: none;
}

.categorie button {
    height: 100%;
    width: 100%;
    padding: 12px;
    font-size: 0.8125rem;
    color: rgb(211, 210, 210);
    background-color: transparent;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.categorie button:hover {
    background-color: rgba(245, 245, 245, 0.09);
}