@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* font-family */
  --confortaa: "Comfortaa", sans-serif;

  /* color */
  --gradient: linear-gradient(322deg,rgba(2, 20, 79, 1) 33%, rgba(252, 70, 107, 1) 100%);
  --gradientHover: linear-gradient(322deg,rgba(2, 20, 79, 0.764) 33%, rgba(252, 70, 106, 0.764) 100%);
  --darkBlue: rgb(18, 18, 69);
  --whiteSmoke: rgb(248, 247, 247);
  --whiteSmokeHover: rgba(255, 255, 255, 0.907);
  --container: rgba(63, 93, 154, 0.097);
  /* z-index */
  --zIndexMin: 1000;
  --zIndexMax: 5000;
}

body {
  min-height: 100vh;
  font-family: var(--confortaa);
}

#root {
  min-height: 100vh;

}

/* Layout */
.flexRow-alignItems {
  display: flex;
  align-items: center;
}

.flexRow-allCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flexColumn-allCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* global style */
.button {
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.gradient {
  max-width: 200px;
  padding: 14px 20px;
  background: var(--gradient);
  text-align: center;
  color: white;
  text-decoration: none;
}
.gradient:hover {
  background: var(--gradientHover);
  color: rgba(245, 245, 245, 0.761);
}

.bckGroundImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.whiteBtn {
  background-color: var(--whiteSmoke);
  color: var(--darkBlue);
}
.whiteBtn:hover {
  background-color: var(--whiteSmokeHover);
}

.content {
  overflow-y: auto;
}
.content::-webkit-scrollbar {
  width: 3px;               
}
.content::-webkit-scrollbar-corner  {
  border-radius: 10px;               
}
.content::-webkit-scrollbar-track {
  border-radius: 20px; 
  border: 1px solid rgba(128, 128, 128, 0.783);
}
.content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--gradient);     
}

.error {
  font-size: 0.75rem;
  color: rgb(255, 170, 170);
}

.messAnim {
  animation: message 0.5s;
}
@keyframes message {
  0% {
    transform: translateY(-15px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

