.pageContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: fixed;
  inset: 0 0 0 0;
  background-image: url('../../../../assets/background.jpg');
}

.pageContainer .loader {
  position: fixed;
  inset: 0 0 0 0;
}