.navBar {
  justify-content: center;
  height: 100vh;
  background: linear-gradient(322deg,rgba(2, 20, 79, 0.206) 33%, rgba(252, 70, 106, 0.429) 100%);
  animation: navBar 0.6s;
}
@keyframes navBar {
  0% {
    transform: translateX(-15px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.navBar .navBarContent {
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 80%;
}

.navBarContent .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 1rem; /* 16px */
  color: white;
}

.user i {
  font-size: 0.875rem;
}




