.delete {
    display: flex;
    gap: 5px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.delete:hover {
    color: rgba(227, 223, 223, 0.91);
}