.search {
    width: 100%;
    gap: 10px;
    height: 45px;
    margin-left: 15px;
    color: white;
}

.search .icon {
    color: white;
}

.search input {
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgba(191, 191, 191, 0.896);
}

.search input::placeholder {
    font-size: 0.8125rem; /* 13px */
    color: rgba(191, 191, 191, 0.896);
}
