.container {
  max-width: 950px;
  height: 500px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 20px;
  background-color: var(--container);
}

.container .intro {
  height: 100%;
  width: 100%;
  gap: 50px;
  padding-right: 20px;
}

.intro h1 {
  max-width: 550px;
  font-size: 1.375rem; /* 22px */
  line-height: 36px;
  color: white;
}

.intro h2 {
  margin-bottom: 30px;
  font-size: 1rem; 
  color: white;
}

.suggestions .widgetRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.newTchat .btnPlusP {
  display: flex;
  gap: 50px;
}

.newTchat p {
  max-width: 350px;
  color: white;
  font-size: 0.875rem;
  line-height: 22px;
}

.newTchat .link {
  text-decoration: none;
}

