.widget {
    min-height: 140px;
    width: 175px;
    border-radius: 15px;
    border: 1px solid rgba(211, 211, 211, 0.686);
    color: white;
    backdrop-filter: blur(7px);
    cursor: pointer;
    transition: 0.4s;
}

.widget:hover {
    box-shadow: var(--boxShadow);
}

