.container {
    width: 100%;
    height: 100%; 
}

.container .chatSuggestion {
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 15px;
}

.titlePlusIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlePlusIcon h3 {
    font-size: 0.875rem;
    color: white;
}

.question {
    font-size: 0.75rem; 
    line-height: 20px;
    color: lightgray;
} 