.header {
    justify-content: space-between;
    padding: 20px 40px;
    background-color: transparent;
}

.header .siteName {
    font-size: 1rem; /* 16px */
    font-weight: 700;
    color: white;
}

.header .connexion {
    font-weight: 700;
    background-color: var(--whiteSmoke);
    color: var(--darkBlue);
}
.header .connexion:hover {
    padding: 12px 20px;
    background-color: var(--whiteSmokeHover);
}