.landingPage {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 6fr 1fr;
    background-image: url('../../assets/background.jpg');
}
.landingPage .connexion {
    font-weight: 700;
    background-color: var(--whiteSmoke);
    color: var(--darkBlue);
    text-decoration: none;
}
.landingPage .connexion:hover {
    padding: 12px 20px;
    background-color: var(--whiteSmokeHover);
}
.landingPage .pageContainer {
    width: 100%;
    max-width: 1700px;
    margin: auto;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.pageContainer .part1 {
    justify-content: center;
    gap: 30px;
    max-width: 420px;
    padding: 40px;
    color: white;
}

.part1 h1 {
    margin-bottom: 12px;
    font-size: 3.125rem; 
    color: white;
}
.part1 h2 {
    font-size: 1.625rem;
    line-height: 34px;
    font-weight: 700;
}
.part1 p {
    line-height: 25px;
}
.part1 .link {
    text-decoration: none;
}

.pageContainer .part2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
}

