.titlePlusIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlePlusIcon h3 {
    font-size: 0.875rem;
    color: white;
}

.query {
    font-size: 0.75rem; 
    line-height: 20px;
    color: lightgray;
} 