.searchField {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 45px;
    margin-left: 15px;
    color: white;
}

.searchField .icon {
    font-size: 0.875rem;
    color: white;
}

.searchField input {
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgba(191, 191, 191, 0.896);
}

.searchField input::placeholder {
    font-size: 0.8125rem; 
    color: rgba(191, 191, 191, 0.896);
}
